.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.node circle {
  fill: #fff;
  stroke: #853;
  stroke-width: 4px;
}

.documentation-text {
  font-family: "Century Gothic";
}

.node text { font: 12px sans-serif; }

.dataset {
  width: 100%;
  color: #fff;
}

.documentation-dataset tr th, .documentation-dataset tr td {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
}

.header-row {
  background-color: #039;
}

.row-normal {
  background-color: #05b;
  border-style: solid;
  border-color: #2f8;
  margin: 3px;
  padding: 3px;
}

.row-glowing {
  box-shadow: 0 0 20px rgb(255, 255, 255);
  background-color: #a03;
  border-style: solid;
  border-color: #2f8;
  margin: 3px;
  padding: 3px;
}

.link {
  fill: none;
  stroke: #853;
  stroke-width: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.banner {
  background-color: #05b;
  margin-top: 10px;
}

.App-main {
  background-color: #ffffff;
  min-height: 100vh;
  font-family: "Century Gothic";
}

.App-graph {
  color: white;
  font-size: 25px;
}

.Menu-option {
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 3px;
}

.Menu-option div {
  color: white;
}

.Graph-node {
  position: absolute;
}

.Graph-node-text {
  position: relative;
  z-index: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rounded-button {
  background-color: #059;
  color: white;
  border-radius: 100%;
  border-width: 0px;
  width: 40px;
  height: 40px;
  margin: 7px;
}

.rounded-button:disabled {
  background-color: #677;
  color: white;
  border-radius: 100%;
  border-width: 0px;
  width: 40px;
  height: 40px;
  margin: 7px;
}

.extended-height {
  height: 1000px;
}

.App-link {
  color: #61dafb;
}

.small-directions {
  font-size: 9pt;
}
